[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=testuser
Group=testuser

WorkingDirectory=/home/testuser/telegram-bot-cafe/
Environment="PYTHONPATH=/home/testuser/telegram-bot-cafe/"
ExecStart=/home/testuser/telegram-bot-cafe/.venv/bin/python /home/testuser/telegram-cafe-bot/main.py

[Install]
WantedBy=multi-user.target